/* Page Adjustments */
body.ecwid-shopping-cart #wrapper {
	padding: 0px 47px 20px 47px;
}

body.ecwid-shopping-cart #content-full {
	margin-top: 55px;
}

.ecwid-shopping-cart .breadcrumb-list {
	display: none;
}

body.ecwid-shopping-cart h1.entry-title {
	padding-left: 1px;
	font-size: 37px;
	margin-top: 16px;
}
.ecwid-shopping-cart .post-entry {
	position: relative;
	top: -4px;
}

/* Minicart */

.ecwid-shopping-cart-minicart {
	position: absolute;
	right: 0px;
	top: -49px;
}

html#ecwid_html body#ecwid_body .ecwid-shopping-cart-minicart div.ecwid-minicart-mini {
	width: 100px;
	text-align: right;
}

html#ecwid_html body#ecwid_body.ecwid-shopping-cart .ecwid-minicart-mini-rolloverContainer {
	display: block;
	visibility: hidden;
}

html#ecwid_html body#ecwid_body.ecwid-shopping-cart .ecwid-shopping-cart-minicart {
	visibility: hidden;
	margin-right: 5px;
}

/* Search */

.ecwid-shopping-cart .ecwid-shopping-cart-search {
	position: absolute;
	right: 3px;
	top: -88px;
	display: none;
}

.ecwid-shopping-cart-search .ecwid-SearchPanel-button {
	border: 0px none;
	background: transparent;
	line-height: normal;
	vertical-align: top;
  padding: 0;
  margin: 0;
  width: auto;
  height: auto;
}

.ecwid-shopping-cart-search .ecwid-SearchPanel-button:after {
	content: '\f179';
	font-family: 'dashicons';
	font-size: 18px;
	color: #AAA;
}

/* Auth */

html#ecwid_html body#ecwid_body.ecwid-shopping-cart .ecwid-productBrowser-auth-mini {
	position: absolute;
	right: 8px;
	top: -89px;
	width: auto;
}

html#ecwid_html body#ecwid_body.ecwid-shopping-cart .ecwid-productBrowser-auth {
	margin: 0px;
}

html#ecwid_html body#ecwid_body.ecwid-shopping-cart .ecwid-ProductBrowser-auth-anonim,
html#ecwid_html body#ecwid_body.ecwid-shopping-cart .ecwid-ProductBrowser-auth-logged
{
	margin-right: 0px;
}

html#ecwid_html body#ecwid_body.ecwid-shopping-cart .ecwid-productBrowser-auth a,
html#ecwid_html body#ecwid_body.ecwid-shopping-cart .ecwid-productBrowser-auth a:active
{
	text-decoration: none;
	font-size: 14px;
}

/* Product browser */

html#ecwid_html body#ecwid_body.ecwid-shopping-cart div.ecwid-productBrowser {
	padding: 0px;
}

html#ecwid_html body#ecwid_body.ecwid-shopping-cart div.ecwid-productBrowser-head {
	font-size: 27px;
}

body.ecwid-shopping-cart h1,
html#ecwid_html body#ecwid_body.ecwid-shopping-cart .ecwid-productBrowser-auth a,
html#ecwid_html body#ecwid_body.ecwid-shopping-cart .ecwid-productBrowser-head,
html#ecwid_html body#ecwid_body.ecwid-shopping-cart .ecwid-shopping-cart-product-browser div.ecwid-productBrowser-productNameLink a,
html#ecwid_html body#ecwid_body.ecwid-shopping-cart .ecwid-shopping-cart-product-browser .ecwid-productBrowser-price
{
	font-family: Open Sans;
}

html#ecwid_html body#ecwid_body.ecwid-shopping-cart .ecwid-productBrowser-categoryPath a,
html#ecwid_html body#ecwid_body.ecwid-shopping-cart .ecwid-productBrowser-categoryPath a:active,
html#ecwid_html body#ecwid_body.ecwid-shopping-cart .ecwid-productBrowser-categoryPath-categoryLabel
{
	text-decoration: none;
	font-size: 14px;
}

html#ecwid_html body#ecwid_body.ecwid-shopping-cart .ecwid-productBrowser-categoryPath {
	padding-top: 8px;
}

html#ecwid_html body#ecwid_body.ecwid-shopping-cart .ecwid-shopping-cart-product-browser  .ecwid-results-topPanel {
	display: none;
}

html#ecwid_html body#ecwid_body.ecwid-shopping-cart .ecwid-shopping-cart-product-browser .ecwid-productBrowser-productsGrid-mainTable {
	margin-top: 18px;
}

html#ecwid_html body#ecwid_body.ecwid-shopping-cart .ecwid-shopping-cart-product-browser div.ecwid-productBrowser-productNameLink {
	text-align: center;
}

html#ecwid_html body#ecwid_body.ecwid-shopping-cart .ecwid-shopping-cart-product-browser div.ecwid-productBrowser-productNameLink a {
	text-decoration: none;
	font-size: 19px;
}

html#ecwid_html body#ecwid_body.ecwid-shopping-cart .ecwid-shopping-cart-product-browser .ecwid-productBrowser-CategoryPage div.ecwid-productBrowser-sku {
	display: none;
}

html#ecwid_html body#ecwid_body.ecwid-shopping-cart .ecwid-shopping-cart-product-browser .ecwid-productBrowser-price {
	margin-top: 0px;
}

html#ecwid_html body#ecwid_body.ecwid-shopping-cart .ecwid-shopping-cart-product-browser td.ecwid-productBrowser-productsGrid-cellSpace {
	height: 62px;
}

/* Product details */
html#ecwid_html body#ecwid_body.ecwid-shopping-cart .ecwid-shopping-cart-product-browser div.ecwid-productBrowser-details-rightPanel {
	margin-right: 4px;
}

html#ecwid_html body#ecwid_body.ecwid-shopping-cart .ecwid-shopping-cart-product-browser .ecwid-productBrowser-details-inStockLabel,
html#ecwid_html body#ecwid_body.ecwid-shopping-cart .ecwid-shopping-cart-product-browser .ecwid-fieldLabel,
html#ecwid_html body#ecwid_body.ecwid-shopping-cart .ecwid-shopping-cart-product-browser .ecwid-productBrowser-details-qtyLabel
{
	font-family: Open Sans;
}

/* Mobile */

@media screen and (max-width: 600px) {
	body.ecwid-shopping-cart #wrapper {
		padding: 0px 27px 20px 27px;
	}

	body.ecwid-shopping-cart #content-full {
		margin-top: 32px;
	}
	body.ecwid-shopping-cart h1.entry-title {
		font-size: 32px;
	}

	html#ecwid_html body#ecwid_body.ecwid-shopping-cart div.ecwid-productBrowser	{
		padding: 0px 4px !important;
	}

	/* Search */

	.ecwid-shopping-cart .ecwid-shopping-cart-search {
		top: -39px;
		right: auto;
		display: none;
		min-width: 200px;
	}

	/* Auth */
	html#ecwid_html body#ecwid_body.ecwid-shopping-cart .ecwid-productBrowser-auth-mini {
		top: -39px;
	}

	/* Minicart */
	.ecwid-shopping-cart-minicart {
		position: absolute;
		right: auto;
		left: 31px;
		top: -204px;
	}


	/* Product Browser */
	.ecwid-shopping-cart-product-browser {
		margin-top: 65px;
	}

	html#ecwid_html body#ecwid_body.ecwid-shopping-cart div.ecwid-productBrowser-head {
		font-size: 26px;
	}

	html#ecwid_html body#ecwid_body.ecwid-shopping-cart .ecwid-productBrowser-categoryPath {
		padding-top: 6px;
	}

	html#ecwid_html body#ecwid_body.ecwid-shopping-cart .ecwid-shopping-cart-product-browser .ecwid-productBrowser-productNameLink {
		margin-top: 10px;
	}
}